{:aliases {:dev  {:extra-paths ["development/src"

                                "components/ring-server/src"

                                "bases/cli/src"]

                  :extra-deps  {org.clojure/clojure          {:mvn/version "1.10.3"}
                                org.clojure/tools.deps.alpha {:mvn/version "0.12.1048"}
                                polylith/clj-api             {:mvn/version "0.2.12-alpha"}}}

           :test {:extra-paths []
                  :extra-deps  {}}}}
