{:deps    {poly/cli                     {:local/root "../../bases/cli"}
           poly/ring-server             {:local/root "../../components/ring-server"}

           org.clojure/clojure          {:mvn/version "1.10.3"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}}}
